@model IEnumerable<projetodweb_connectify.Models.Profile>

@{
    ViewData["Title"] = "Meu Perfil";
}

<h1>Perfil</h1>

<p>
    <a asp-action="Edit">Editar Perfil</a>
</p>

<div>
    <h2> @Html.DisplayNameFor(model => model.Name)</h2>
    <p>@Html.DisplayNameFor(model => model.Bio)</p>
    
</div>

</table>
